<app-carousel></app-carousel>
<br><br><br>
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6" style="display: inline-block;">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
        1
      </button>      <span style="margin-left: 20px;display: inline-block" class="display-4"> Trouvez des freelancers</span>
      <br><br>
      <p style="margin-left: 40px;">Freelancini made by <em>CS GO</em>  est une plateforme tunisienne qui vous permet de trouver des freelancers gratuitement et facilement.</p>
      <p style="margin-left: 40px;">Si vous êtes un client n'hesitez pas de consulter la page des projets et y ajouter des nouveaux projets</p>
      <br>
      <button mat-raised-button color="primary" style="margin-left:40px;" [routerLink]="['/projets']"> Déposer des projets </button>
    </div>

    <div class="col-lg-6">
      <img style="margin-left: -10px;" src="../assets/cap.png" style="height:300px;widows: 250px;" class="img-fluid">
    </div>
  </div>

  <div class="row padding">
    <div class="col-lg-6">
      <img style="margin-left: -10px;" src="https://cdnp1.stackassets.com/ac06aff59855ca48a52196ca2ece69f4e7c17769/store/opt/596/447/b3607545a4b0032d16154da6f3f54e28f72c45ddcac2722120db3c4b4901/product_34543_product_shots1.jpg" style="height:300px;widows: 250px;" class="img-fluid">
    </div>
    <div class="col-lg-6" style="display: inline-block;">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
        2
      </button>      <span style="margin-left: 20px;display: inline-block" class="display-4"> Comparez devis</span>
      <br><br>
      <p style="margin-left: 40px;">Freelancini made by <em>CS GO</em>  vous permet de trouver des freelancers gratuitement et facilement.</p>
      <p style="margin-left: 40px;">Elle vous permet de contacter les freelancers en comparant les devis</p>
      <br>
      <button mat-raised-button color="primary" style="margin-left:40px;" href="#"> Trouver freelancers </button>
    </div>
  </div>
</div>
<br><br><br>
