<div class="container" style="align-items: center;"> 

    <mat-icon style="font-size:150px;margin-left:30%; margin-right:auto;" color="primary"> person_pin</mat-icon>
  <br/>
  <hr/>
    <button (click)="client()" mat-fab  color="primary" style="width: 120px;height:120px; margin-left: 35%; margin-right: auto;" matTooltip="Connecter En Tanque Client"
    matTooltipPosition="right">Client/Entreprise</button>
    <br/>
    <hr/>
    <button (click)="freelancer()" mat-fab color="primary" style="width: 120px;height:120px; margin-left: 35%; margin-right: auto;" matTooltip="Connecter En Tanque Freelancer"
    matTooltipPosition="right">Freelancer</button>

  
</div>
  


<!--§div cdkDropListGroup>
    <div class="example-container">
      <h2>Vous etee?</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        (cdkDropListDropped)="sss()"
        >

        <div class="example-box" *ngFor="let item of todo" cdkDrop><button  mat-fab color="primary" style="width: 120px;height:120px">{{item}}</button> 
        
        </div>
     
    </div>
    </div>
  
    <div class="example-container">
      <h2>Done</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (CdkDragDrop)="sss()" >
        <div class="example-box" *ngFor="let item of done" cdkDrag>
            <button mat-fab color="primary" style="width: 120px;height:120px">{{item}}</button>
        </div>
      </div>
    </div>
  </div>-->